html{
	font-size:100%;
}

body{
	height:1000px;
	background:linear-gradient(#ffffff, #c4cad8);
}
/* Edits To Bootstrap Begin*/
.navbar{
	margin-bottom:0;
}
/* Edits To Bootstrap End*/

.jumbo-mobile-header, .jumbo-mobile-footer{
	display:none;
	text-align:center;
}

@media (max-width: 600px) {
	.jumbo-mobile-header, .jumbo-mobile-footer{
		display:block;
	}
}

.jumbo-mobile-header .blue, .jumbo-mobile-footer .blue{
	background:radial-gradient(blue, #1d1dbf);
	color:white;
	font-size:1.5rem;
}

.jumbo-mobile-header .blue .you{
	font-size:2rem;
	font-weight:bolder;
	color:yellow;
	text-decoration:underline;
	font-style:italic;

}

.jumbo-mobile-footer img{
	max-height:3rem;
}




/* Click Ribbons */

@media (max-width: 600px) {
	.click-ribbon{
		display:none;
	}
}


.click-ribbon{
	white-space: nowrap;
	position:relative;
	height:3rem;
}

.why-ribbon{
	top:15rem;
}

.how-ribbon{
	top:18rem;
}


.click-ribbon-body{
	height:100%;
	padding:0;
	margin:0;
}

.click-ribbon-tip{

	width:0;
	height:0;
	border-left:3rem solid;
	border-right:3rem solid transparent;
	border-bottom:3rem solid transparent;
	overflow: hidden;
}

.click-ribbon-under, .click-ribbon-cover{
	height:100%;
	width:100%;
	position:absolute;
	top:0;

}

.click-ribbon-under .click-ribbon-body{
	background-color:rgba(87, 87, 255, 0.79);
	box-shadow: -3px 2px 4px 0px black;
}


.click-ribbon-cover .click-ribbon-body{
	background-color:blue;

}

.click-ribbon-under .click-ribbon-tip{
	border-left-color:rgba(87, 87, 255, 0.79);
}

.click-ribbon-cover .click-ribbon-tip{
	border-left-color:blue;
	background-color:transparent;
}

.why-ribbon .click-ribbon-under .click-ribbon-body{
	width:90%;
}

.why-ribbon .click-ribbon-cover .click-ribbon-body{
	width:70%;
}

.how-ribbon .click-ribbon-under .click-ribbon-body{
	width:80%;
}

.how-ribbon .click-ribbon-cover .click-ribbon-body{
	width:60%;
}

.click-ribbon-body, .click-ribbon-tip{
	display:inline-block;

}

.click-ribbon-text{
	position:absolute;
	top:0;
	z-index:10;
}

.click-ribbon-text a{
	font-size:2rem;
	color:yellow;
	font-style:italic;
}
.click-ribbon-text a:hover{
	font-weight:bolder;
}

.why-ribbon .click-ribbon-text{
	right:10%;
}

.how-ribbon .click-ribbon-text{
	right:20%;
}

.jumbo-text{
	position:absolute;
	top:0;
	text-align: right;
	width:60%;
	right:5%;
	font-size:3rem;
}

.totheleft{
	text-align:left;
}

.totheright{
	text-align:right;
}
.tothecenter{
	text-align:center;	
}

.jumbo-text #brad4allstar-img{
	width:100%;
	max-width:100%;
	max-height:150px;
}

.jumbo-text #choose-img{
	width:35%;
	max-height:100px;
}

@media (max-width: 600px) {
	.jumbo-text{
		display:none;
	}
}

.footer-why-and-how{
	text-align:center;
	font-size:2.25em;
	font-weight:bold;
}

@media (min-width: 601px) {
	.footer-why-and-how{
		display:none;
	}
}

.quote{
	color:grey;
	font-style:italic;
	font-size:1.75rem;
}

/* Card */
.card{
	background-color:white;
	margin:1rem;
	box-shadow: 3px 2px 2px 2px grey;
	min-height:1rem;
	padding:1rem;
}

.card-poppy:active, .card-poppy:hover{
	box-shadow: 1px 1px 1px 1px grey;
}

.card-rounded{
	border-radius:.5rem;
}






.jumbotron-image{
	position:relative;
	background-size:cover;
	background-repeat:no-repeat;
	height:474px;
	width:100%;
	background-image: url("../img/jumbo4.jpg");
	/*padding-top:100%;*/
}

.brad-image{
	background-size:contain;
	background-repeat:no-repeat;
	position:absolute;
	bottom:0;
	height:95%;
	width:100%;

	background-image: url("../img/brad2.png");
}

.sub-heading{
	color:grey;
	font-size:1.25em;

}

.space-on-bottom{
	margin-bottom:1rem;
}


/* head-ribbon */
.head-ribbon{
	margin-top:1rem;
	white-space: nowrap;
	position:relative;
	height:3rem;
}

.head-ribbon-body{
	height:100%;
	padding:0;
	margin:0;
}

.head-ribbon-tip{
	width:0;
	height:0;
	border-left:3rem solid;
	border-right:3rem solid transparent;
	border-bottom:3rem solid transparent;
	overflow: hidden;
}

.head-ribbon-under, .head-ribbon-cover{
	height:100%;
	width:100%;
	position:absolute;
	top:0;

}

.head-ribbon-under .head-ribbon-body{
	background-color:rgba(87, 87, 255, 0.79);
	box-shadow: -3px 2px 4px 0px black;
}


.head-ribbon-cover .head-ribbon-body{
	background-color:blue;

}

.head-ribbon-under .head-ribbon-tip{
	border-left-color:rgba(87, 87, 255, 0.79);
}

.head-ribbon-cover .head-ribbon-tip{
	border-left-color:blue;
	background-color:transparent;
}

.head-ribbon-under .head-ribbon-body{
	width:90%;
}

.head-ribbon-cover .head-ribbon-body{
	width:60%;
}

@media (max-width: 800px) {
	.head-ribbon-under .head-ribbon-body{
		width:90%;
	}

	.head-ribbon-cover .head-ribbon-body{
		width:20%;
	}
}

.head-ribbon-body, .head-ribbon-tip{
	display:inline-block;

}

.head-ribbon-text{
	color:white;
	position:absolute;
	top:0;
	z-index:10;
	font-size:2rem;

	font-style:italic;
	right:10%
}


.head-ribbon-text{
	right:10%;
}


.pseudo-table td{
	width:33%;
	text-align:center;
}

.pseudo-table tr.spacer-row td{
	height:.5rem;
	background-color:lightgrey;
}

.pseudo-table tr.empty-spacer-row td{
	height:.5rem;
	background-color:white;
}



.pseudo-name-container{
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	height:auto;
/*	width:100% ;*/
}

.pseudo-name{
	font-size:2em;
}

.pseudo-header-row th{
	text-align:center;
	padding:1rem;
	font-size:1rem;
	text-decoration:underline;
}


.footer{
/*	background-color:yellow;
	color:black;
	font-weight:bold;
	position:relative;
	float:bottom;*/
/*	bottom:0;*/
}